# Multi Layer Perceptron cho bài toán hồi quy

## Chuẩn bị dữ liệu

In [8]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, StandardScaler
import pandas as pd
import numpy as np

df = pd.read_csv('../Dataset/archive/WA_Fn-UseC_-HR-Employee-Attrition.csv')

X = df.drop(['Attrition', 'EmployeeNumber', 'Over18', 'EmployeeCount', 'StandardHours'], axis=1)
y = df['Attrition']

col_int32 = ['DailyRate', 'MonthlyIncome', 'MonthlyRate']
col_int16 = ['Age', 'DistanceFromHome', 'Education', 'EnvironmentSatisfaction', 'HourlyRate', 
             'JobInvolvement', 'JobLevel', 'JobSatisfaction', 'NumCompaniesWorked', 
             'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction', 
             'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear', 
             'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole', 
             'YearsSinceLastPromotion', 'YearsWithCurrManager']

# ép kiểu
X[col_int32] = X[col_int32].astype('int32')
X[col_int16] = X[col_int16].astype('int16')

X_origin = X.copy()
y_origin = y.copy()

# One-hot cho các cột nominal
one_hot_encoder = OneHotEncoder(
    sparse_output=False,
    handle_unknown='ignore',
    drop='first'
)

encode_cols = [
    'BusinessTravel', 'Department', 'EducationField',
    'Gender', 'JobRole', 'MaritalStatus', 'OverTime'
]

X_encoded_array = one_hot_encoder.fit_transform(X_origin[encode_cols])
encoded_columns = one_hot_encoder.get_feature_names_out(encode_cols)

X_encoded_df = pd.DataFrame(
    X_encoded_array, 
    columns=encoded_columns,
    index=X_origin.index
)

# Gộp data sau one-hot
X_encode = pd.concat([X_origin.drop(columns=encode_cols), X_encoded_df], axis=1)

# Encode y
label_encoder = LabelEncoder()
y = label_encoder.fit_transform(y_origin)

# Continuous columns cần scale
continuous_data = [
    'Age', 'DailyRate', 'DistanceFromHome', 'HourlyRate', 'MonthlyIncome',
    'MonthlyRate', 'NumCompaniesWorked', 'PercentSalaryHike',
    'TotalWorkingYears', 'TrainingTimesLastYear', 'YearsAtCompany',
    'YearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsWithCurrManager'
]

# Standard Scaler
scaler = StandardScaler()
X_scaled_df = pd.DataFrame(
    scaler.fit_transform(X_encode[continuous_data]),
    columns=continuous_data,
    index=X_encode.index
).astype('float32')

# Gộp cùng dữ liệu còn lại
X_final = pd.concat(
    [
        X_encode.drop(columns=continuous_data), 
        X_scaled_df                       
    ],
    axis=1
)

# One-hot columns cũng ép về float32
one_hot_cols = X_encoded_df.columns
X_final[one_hot_cols] = X_final[one_hot_cols].astype('float32')

# Có 2 loại dữ liệu là X_origin là X ban đầu đã được One Hot và X đã được làm sạch, chuẩn hóa.
X = X_final
X_origin = X_encode

In [9]:
X_origin

,Age,DailyRate,DistanceFromHome,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,...,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Married,MaritalStatus_Single,OverTime_Yes
0,41,1102,1,2,2,94,3,2,4,5993,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0
1,49,279,8,1,3,61,2,2,2,5130,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,37,1373,2,2,4,92,2,1,3,2090,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
3,33,1392,3,4,4,56,3,1,3,2909,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
4,27,591,2,1,1,40,3,1,2,3468,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,884,23,2,3,41,4,2,4,2571,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1466,39,613,6,1,4,42,2,3,1,9991,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1467,27,155,4,3,2,87,4,2,2,6142,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
1468,49,1023,2,3,4,63,2,2,2,5390,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
1469,34,628,8,3,2,82,4,2,3,4404,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [10]:
X_origin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 44 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                1470 non-null   int16
 1   DailyRate                          1470 non-null   int32
 2   DistanceFromHome                   1470 non-null   int16
 3   Education                          1470 non-null   int16
 4   EnvironmentSatisfaction            1470 non-null   int16
 5   HourlyRate                         1470 non-null   int16
 6   JobInvolvement                     1470 non-null   int16
 7   JobLevel                           1470 non-null   int16
 8   JobSatisfaction                    1470 non-null   int16
 9   MonthlyIncome                      1470 non-null   int32
 10  MonthlyRate                        1470 non-null   int32
 11  NumCompaniesWorked                 1470 non-null   int16
 12  PercentSalaryHike                  1470 non-null   int16
 13  PerformanceRating                  1470 non-null   int16
 14  RelationshipSatisfaction           1470 non-null   int16
 15  StockOptionLevel                   1470 non-null   int16
 16  TotalWorkingYears                  1470 non-null   int16
 17  TrainingTimesLastYear              1470 non-null   int16
 18  WorkLifeBalance                    1470 non-null   int16
 19  YearsAtCompany                     1470 non-null   int16
 20  YearsInCurrentRole                 1470 non-null   int16
 21  YearsSinceLastPromotion            1470 non-null   int16
 22  YearsWithCurrManager               1470 non-null   int16
 23  BusinessTravel_Travel_Frequently   1470 non-null   float64
 24  BusinessTravel_Travel_Rarely       1470 non-null   float64
 25  Department_Research & Development  1470 non-null   float64
 26  Department_Sales                   1470 non-null   float64
 27  EducationField_Life Sciences       1470 non-null   float64
 28  EducationField_Marketing           1470 non-null   float64
 29  EducationField_Medical             1470 non-null   float64
 30  EducationField_Other               1470 non-null   float64
 31  EducationField_Technical Degree    1470 non-null   float64
 32  Gender_Male                        1470 non-null   float64
 33  JobRole_Human Resources            1470 non-null   float64
 34  JobRole_Laboratory Technician      1470 non-null   float64
 35  JobRole_Manager                    1470 non-null   float64
 36  JobRole_Manufacturing Director     1470 non-null   float64
 37  JobRole_Research Director          1470 non-null   float64
 38  JobRole_Research Scientist         1470 non-null   float64
 39  JobRole_Sales Executive            1470 non-null   float64
 40  JobRole_Sales Representative       1470 non-null   float64
 41  MaritalStatus_Married              1470 non-null   float64
 42  MaritalStatus_Single               1470 non-null   float64
 43  OverTime_Yes                       1470 non-null   float64
dtypes: float64(21), int16(20), int32(3)
memory usage: 315.9 KB

**Ép kiểu dữ liệu**

In [11]:
float_cols = X_origin.select_dtypes(include='float64').columns
X_origin[float_cols] = X_origin[float_cols].astype('int8')

In [12]:
X_origin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 44 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                1470 non-null   int16
 1   DailyRate                          1470 non-null   int32
 2   DistanceFromHome                   1470 non-null   int16
 3   Education                          1470 non-null   int16
 4   EnvironmentSatisfaction            1470 non-null   int16
 5   HourlyRate                         1470 non-null   int16
 6   JobInvolvement                     1470 non-null   int16
 7   JobLevel                           1470 non-null   int16
 8   JobSatisfaction                    1470 non-null   int16
 9   MonthlyIncome                      1470 non-null   int32
 10  MonthlyRate                        1470 non-null   int32
 11  NumCompaniesWorked                 1470 non-null   int16
 12  PercentSalaryHike                  1470 non-null   int16
 13  PerformanceRating                  1470 non-null   int16
 14  RelationshipSatisfaction           1470 non-null   int16
 15  StockOptionLevel                   1470 non-null   int16
 16  TotalWorkingYears                  1470 non-null   int16
 17  TrainingTimesLastYear              1470 non-null   int16
 18  WorkLifeBalance                    1470 non-null   int16
 19  YearsAtCompany                     1470 non-null   int16
 20  YearsInCurrentRole                 1470 non-null   int16
 21  YearsSinceLastPromotion            1470 non-null   int16
 22  YearsWithCurrManager               1470 non-null   int16
 23  BusinessTravel_Travel_Frequently   1470 non-null   int8
 24  BusinessTravel_Travel_Rarely       1470 non-null   int8
 25  Department_Research & Development  1470 non-null   int8
 26  Department_Sales                   1470 non-null   int8
 27  EducationField_Life Sciences       1470 non-null   int8
 28  EducationField_Marketing           1470 non-null   int8
 29  EducationField_Medical             1470 non-null   int8
 30  EducationField_Other               1470 non-null   int8
 31  EducationField_Technical Degree    1470 non-null   int8
 32  Gender_Male                        1470 non-null   int8
 33  JobRole_Human Resources            1470 non-null   int8
 34  JobRole_Laboratory Technician      1470 non-null   int8
 35  JobRole_Manager                    1470 non-null   int8
 36  JobRole_Manufacturing Director     1470 non-null   int8
 37  JobRole_Research Director          1470 non-null   int8
 38  JobRole_Research Scientist         1470 non-null   int8
 39  JobRole_Sales Executive            1470 non-null   int8
 40  JobRole_Sales Representative       1470 non-null   int8
 41  MaritalStatus_Married              1470 non-null   int8
 42  MaritalStatus_Single               1470 non-null   int8
 43  OverTime_Yes                       1470 non-null   int8
dtypes: int16(20), int32(3), int8(21)
memory usage: 104.9 KB

## Dự đoán mô hình

Trong phần này, bài toán được xây dựng dưới dạng hồi quy, với mục tiêu dự đoán thu nhập hàng tháng (MonthlyIncome) của nhân viên dựa trên các đặc trưng nhân sự và công việc.

`MonthlyIncome` là một biến liên tục, do đó các mô hình hồi quy được lựa chọn thay vì các mô hình phân loại, nó đại diện cho thu nhập hàng tháng của nhân viên dựa vào các dữ liệu được thu thập trước đó, đây là biến liên tục và phù hợp với bài toán hồi quy.

Ngoài ra biến `MonthlyIncome` có tương quan với nhiều biến khác trong dữ liệu, cụ thể:
![Heatmap tương quan các biến](../assets/image/img_2.png)

Với:
- `Age` (~0.5)
- `JobLevel` (~0.95)
- `TotalWorkingYears` (~0.77)
- `YearAtCompany` (~0.51)
- `YearInCurrentRole` (~0.36)
- Ngoài ra còn nhiều biến khác nữa.

Các biến này phản ánh trực tiếp cơ cấu lương của công ty như:
- Thâm niên càng cao thì thu nhập càng cao.
- Trình độ càng cao, mức lương cao.
- ....

In [16]:
X_reg = X_origin[[col for col in X_origin.columns if col != 'MonthlyIncome']]
y_reg = X_origin['MonthlyIncome']

In [17]:
X_reg.head()

,Age,DailyRate,DistanceFromHome,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyRate,...,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Married,MaritalStatus_Single,OverTime_Yes
0,41,1102,1,2,2,94,3,2,4,19479,...,0,0,0,0,0,1,0,0,1,1
1,49,279,8,1,3,61,2,2,2,24907,...,0,0,0,0,1,0,0,1,0,0
2,37,1373,2,2,4,92,2,1,3,2396,...,1,0,0,0,0,0,0,0,1,1
3,33,1392,3,4,4,56,3,1,3,23159,...,0,0,0,0,1,0,0,1,0,1
4,27,591,2,1,1,40,3,1,2,16632,...,1,0,0,0,0,0,0,1,0,0

In [18]:
y_reg.head()

0    5993
1    5130
2    2090
3    2909
4    3468
Name: MonthlyIncome, dtype: int32

In [19]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_reg, y_reg, random_state = 42, test_size = 0.3)

In [22]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

from sklearn.neural_network import MLPRegressor

mlp = MLPRegressor(
    hidden_layer_sizes=(64, 32),
    activation='relu',
    solver='adam',
    max_iter=3000,
    random_state=42,
    learning_rate_init=0.001
)

mlp.fit(X_train_scaled, y_train)

from sklearn.metrics import mean_squared_error, r2_score

y_pred = mlp.predict(X_test_scaled)

mse = mean_squared_error(y_test, y_pred)
rmse = mse ** 0.5
r2 = r2_score(y_test, y_pred)

print(f"RMSE: {rmse:.2f}")
print(f"R2: {r2:.3f}")

from sklearn.metrics import mean_absolute_error

mae = mean_absolute_error(y_test, y_pred)
print("MAE:", mae)

RMSE: 1449.64
R2: 0.896
MAE: 1104.0001696299762

/media/trong-thanh/Data/University/Third Year/I/Machine Learning/Project Machine Learning/.venv/lib/python3.12/site-packages/sklearn/neural_network/_multilayer_perceptron.py:781: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (3000) reached and the optimization hasn't converged yet.
  warnings.warn(