# Tiền xử lý dữ liệu

## Đọc thư viện cần thiết

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Đọc dữ liệu từ pandas
df = pd.read_csv('../Dataset/archive/WA_Fn-UseC_-HR-Employee-Attrition.csv')

## Xử lý dữ liệu

Dữ liệu sau khi đọc

In [3]:
df

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

Mô tả sơ bộ về dữ liệu của tập dataset trên

In [4]:
df.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,...,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,802.485714,9.192517,2.912925,1.0,1024.865306,2.721769,65.891156,2.729932,2.063946,...,2.712245,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,403.509100,8.106864,1.024165,0.0,602.024335,1.093082,20.329428,0.711561,1.106940,...,1.081209,0.0,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,465.000000,2.000000,2.000000,1.0,491.250000,2.000000,48.000000,2.000000,1.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,802.000000,7.000000,3.000000,1.0,1020.500000,3.000000,66.000000,3.000000,2.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,1157.000000,14.000000,4.000000,1.0,1555.750000,4.000000,83.750000,3.000000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,5.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

Nhận xét:

Dữ liệu ban đầu có tổng cộng 35 cột trong đó có:
- 01 cột nhãn quyết định xem có nghỉ việc hay không.
- 34 cột còn lại là các trường của dữ liệu.
- Các trường dữ liệu của tập dữ liệu chứa cả dữ liệu liên tục và dữ liệu rời rạc, không chứa dữ liệu Null hoặc các dữ liệu đặc biệt.

Tách lấy các cột X (các trường dữ liệu), cột y (nhãn của dữ liệu).

In [6]:
X = df.drop(['Attrition', 'EmployeeNumber'], axis=1) # tách thêm Empl number: đó là ID của các nhân viên
y = df['Attrition']

In [7]:
print(f'Số bản ghi dữ liệu: {len(X)}')
print(f'Số cột dữ liệu (tập X): {len(X.columns)}')

Số bản ghi dữ liệu: 1470
Số cột dữ liệu (tập X): 33

Thống kê chi tiết các trường.

In [8]:
columns = X.columns

for col in columns:
    print(f'Thống kê cho cột {col}')
    print(X[col].value_counts())
    print('=' * 50)

Thống kê cho cột Age
Age
35    78
34    77
36    69
31    69
29    68
32    61
30    60
38    58
33    58
40    57
37    50
28    48
27    48
42    46
39    42
45    41
41    40
26    39
44    33
46    33
43    32
50    30
25    26
24    26
49    24
47    24
55    22
48    19
51    19
53    19
54    18
52    18
22    16
56    14
58    14
23    14
21    13
20    11
59    10
19     9
18     8
60     5
57     4
Name: count, dtype: int64
==================================================
Thống kê cho cột BusinessTravel
BusinessTravel
Travel_Rarely        1043
Travel_Frequently     277
Non-Travel            150
Name: count, dtype: int64
==================================================
Thống kê cho cột DailyRate
DailyRate
691     6
1082    5
329     5
530     5
408     5
       ..
1382    1
161     1
801     1
642     1
1154    1
Name: count, Length: 886, dtype: int64
==================================================
Thống kê cho cột Department
Department
Research & Development    961
Sales                     446
Human Resources            63
Name: count, dtype: int64
==================================================
Thống kê cho cột DistanceFromHome
DistanceFromHome
2     211
1     208
10     86
9      85
3      84
7      84
8      80
5      65
4      64
6      59
16     32
11     29
24     28
29     27
23     27
15     26
18     26
20     25
25     25
26     25
28     23
19     22
14     21
12     20
17     20
22     19
13     19
21     18
27     12
Name: count, dtype: int64
==================================================
Thống kê cho cột Education
Education
3    572
4    398
2    282
1    170
5     48
Name: count, dtype: int64
==================================================
Thống kê cho cột EducationField
EducationField
Life Sciences       606
Medical             464
Marketing           159
Technical Degree    132
Other                82
Human Resources      27
Name: count, dtype: int64
==================================================
Thống kê cho cột EmployeeCount
EmployeeCount
1    1470
Name: count, dtype: int64
==================================================
Thống kê cho cột EnvironmentSatisfaction
EnvironmentSatisfaction
3    453
4    446
2    287
1    284
Name: count, dtype: int64
==================================================
Thống kê cho cột Gender
Gender
Male      882
Female    588
Name: count, dtype: int64
==================================================
Thống kê cho cột HourlyRate
HourlyRate
66    29
84    28
42    28
98    28
48    28
      ..
89    15
53    14
68    14
38    13
34    12
Name: count, Length: 71, dtype: int64
==================================================
Thống kê cho cột JobInvolvement
JobInvolvement
3    868
2    375
4    144
1     83
Name: count, dtype: int64
==================================================
Thống kê cho cột JobLevel
JobLevel
1    543
2    534
3    218
4    106
5     69
Name: count, dtype: int64
==================================================
Thống kê cho cột JobRole
JobRole
Sales Executive              326
Research Scientist           292
Laboratory Technician        259
Manufacturing Director       145
Healthcare Representative    131
Manager                      102
Sales Representative          83
Research Director             80
Human Resources               52
Name: count, dtype: int64
==================================================
Thống kê cho cột JobSatisfaction
JobSatisfaction
4    459
3    442
1    289
2    280
Name: count, dtype: int64
==================================================
Thống kê cho cột MaritalStatus
MaritalStatus
Married     673
Single      470
Divorced    327
Name: count, dtype: int64
==================================================
Thống kê cho cột MonthlyIncome
MonthlyIncome
2342     4
3452     3
2559     3
2610     3
2451     3
        ..
3041     1
2579     1
5985     1
15402    1
2083     1
Name: count, Length: 1349, dtype: int64
==================================================
Thống kê cho cột MonthlyRate
MonthlyRate
4223     3
9150     3
21534    2
22074    2
25326    2
        ..
3010     1
5013     1
6219     1
14004    1
26894    1
Name: count, Length: 1427, dtype: int64
==================================================
Thống kê cho cột NumCompaniesWorked
NumCompaniesWorked
1    521
0    197
3    159
2    146
4    139
7     74
6     70
5     63
9     52
8     49
Name: count, dtype: int64
==================================================
Thống kê cho cột Over18
Over18
Y    1470
Name: count, dtype: int64
==================================================
Thống kê cho cột OverTime
OverTime
No     1054
Yes     416
Name: count, dtype: int64
==================================================
Thống kê cho cột PercentSalaryHike
PercentSalaryHike
11    210
13    209
14    201
12    198
15    101
18     89
17     82
16     78
19     76
22     56
20     55
21     48
23     28
24     21
25     18
Name: count, dtype: int64
==================================================
Thống kê cho cột PerformanceRating
PerformanceRating
3    1244
4     226
Name: count, dtype: int64
==================================================
Thống kê cho cột RelationshipSatisfaction
RelationshipSatisfaction
3    459
4    432
2    303
1    276
Name: count, dtype: int64
==================================================
Thống kê cho cột StandardHours
StandardHours
80    1470
Name: count, dtype: int64
==================================================
Thống kê cho cột StockOptionLevel
StockOptionLevel
0    631
1    596
2    158
3     85
Name: count, dtype: int64
==================================================
Thống kê cho cột TotalWorkingYears
TotalWorkingYears
10    202
6     125
8     103
9      96
5      88
7      81
1      81
4      63
12     48
3      42
15     40
16     37
11     36
13     36
21     34
17     33
14     31
2      31
20     30
18     27
19     22
23     22
22     21
24     18
26     14
25     14
28     14
0      11
29     10
31      9
32      9
30      7
33      7
27      7
36      6
34      5
37      4
35      3
40      2
38      1
Name: count, dtype: int64
==================================================
Thống kê cho cột TrainingTimesLastYear
TrainingTimesLastYear
2    547
3    491
4    123
5    119
1     71
6     65
0     54
Name: count, dtype: int64
==================================================
Thống kê cho cột WorkLifeBalance
WorkLifeBalance
3    893
2    344
4    153
1     80
Name: count, dtype: int64
==================================================
Thống kê cho cột YearsAtCompany
YearsAtCompany
5     196
1     171
3     128
2     127
10    120
4     110
7      90
9      82
8      80
6      76
0      44
11     32
20     27
13     24
15     20
14     18
22     15
21     14
12     14
18     13
16     12
19     11
17      9
24      6
33      5
26      4
25      4
31      3
32      3
27      2
29      2
36      2
23      2
37      1
40      1
34      1
30      1
Name: count, dtype: int64
==================================================
Thống kê cho cột YearsInCurrentRole
YearsInCurrentRole
2     372
0     244
7     222
3     135
4     104
8      89
9      67
1      57
6      37
5      36
10     29
11     22
13     14
14     11
12     10
15      8
16      7
17      4
18      2
Name: count, dtype: int64
==================================================
Thống kê cho cột YearsSinceLastPromotion
YearsSinceLastPromotion
0     581
1     357
2     159
7      76
4      61
3      52
5      45
6      32
11     24
8      18
9      17
15     13
13     10
12     10
14      9
10      6
Name: count, dtype: int64
==================================================
Thống kê cho cột YearsWithCurrManager
YearsWithCurrManager
2     344
0     263
7     216
3     142
8     107
4      98
1      76
9      64
5      31
6      29
10     27
11     22
12     18
13     14
17      7
15      5
14      5
16      2
Name: count, dtype: int64
==================================================

X ban đầu:

In [9]:
X

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EnvironmentSatisfaction,Gender,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,2,Female,...,1,80,0,8,0,1,6,4,0,5
1,49,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,3,Male,...,4,80,1,10,3,3,10,7,1,7
2,37,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,Male,...,2,80,0,7,3,3,0,0,0,0
3,33,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,4,Female,...,3,80,0,8,3,3,8,7,3,0
4,27,Travel_Rarely,591,Research & Development,2,1,Medical,1,1,Male,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,Travel_Frequently,884,Research & Development,23,2,Medical,1,3,Male,...,3,80,1,17,3,3,5,2,0,3
1466,39,Travel_Rarely,613,Research & Development,6,1,Medical,1,4,Male,...,1,80,1,9,5,3,7,7,1,7
1467,27,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2,Male,...,2,80,1,6,0,3,6,2,0,3
1468,49,Travel_Frequently,1023,Sales,2,3,Medical,1,4,Male,...,4,80,0,17,3,2,9,6,0,8
1469,34,Travel_Rarely,628,Research & Development,8,3,Medical,1,2,Male,...,1,80,0,6,3,4,4,3,1,2

y ban đầu:

In [10]:
y

0       Yes
1        No
2       Yes
3        No
4        No
       ...
1465     No
1466     No
1467     No
1468     No
1469     No
Name: Attrition, Length: 1470, dtype: object

Về độ cân bằng của dữ liệu.

In [11]:
count_yes = np.sum(y == 'Yes')
count_no = np.sum(y == 'No')

print(f'Count yes: {count_yes}')
print(f'Count no: {count_no}')
print(f'yes / no: {float(count_yes) / float(count_yes + count_no):.2f}')

Count yes: 237
Count no: 1233
yes / no: 0.16

## Mã hóa dữ liệu ban đầu bằng Onehot encode trong thư viện sklearn

In [12]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

# sử dụng OHE để mã hóa các categories của dữ liệu, Label Encode để mã hóa lại đầu ra của y
one_hot_encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore')
label_encoder = LabelEncoder()

In [13]:
X_origin = X.copy()
y_origin = y.copy()

In [14]:
X_origin.shape

(1470, 33)

In [15]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd

# Giả sử X_origin là DataFrame ban đầu
encode_cols = [
    'BusinessTravel', 'Department', 'Education', 'EducationField',
    'EnvironmentSatisfaction', 'Gender', 'JobInvolvement', 'JobLevel',
    'JobRole', 'JobSatisfaction', 'MaritalStatus', 'Over18', 'OverTime',
    'PerformanceRating', 'RelationshipSatisfaction', 'StockOptionLevel',
    'WorkLifeBalance'
]
one_hot_encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore')
# fit chuyển đổi luôn
X_encoded_array = one_hot_encoder.fit_transform(X_origin[encode_cols]) 

# Lấy tên cột mới sau khi mã hóa
encoded_columns = one_hot_encoder.get_feature_names_out(encode_cols)

# Tạo DataFrame từ mảng mã hóa
X_encoded_df = pd.DataFrame(X_encoded_array, columns=encoded_columns, index=X_origin.index)

# Gộp với phần dữ liệu còn lại
X_encode = pd.concat([X_origin.drop(columns=encode_cols), X_encoded_df], axis=1)

In [16]:
X_encode.shape

(1470, 81)

In [17]:
X_encode

,Age,DailyRate,DistanceFromHome,EmployeeCount,HourlyRate,MonthlyIncome,MonthlyRate,NumCompaniesWorked,PercentSalaryHike,StandardHours,...,RelationshipSatisfaction_3,RelationshipSatisfaction_4,StockOptionLevel_0,StockOptionLevel_1,StockOptionLevel_2,StockOptionLevel_3,WorkLifeBalance_1,WorkLifeBalance_2,WorkLifeBalance_3,WorkLifeBalance_4
0,41,1102,1,1,94,5993,19479,8,11,80,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,49,279,8,1,61,5130,24907,1,23,80,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,37,1373,2,1,92,2090,2396,6,15,80,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,33,1392,3,1,56,2909,23159,1,11,80,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,27,591,2,1,40,3468,16632,9,12,80,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,884,23,1,41,2571,12290,4,17,80,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1466,39,613,6,1,42,9991,21457,4,15,80,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1467,27,155,4,1,87,6142,5174,1,20,80,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1468,49,1023,2,1,63,5390,13243,2,14,80,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1469,34,628,8,1,82,4404,10228,2,12,80,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [18]:
X_encode.to_csv("/home/trong-thanh/Downloads/encode.csv", index=False) # ghi ra file để test

Nhận xét: 

Dữ liệu X ban đầu code shape là: (1470, 33)
Sau khi encode thì X có dạng: (1470, 81)
Các cột sau khi qua One hot encode thì các categories sẽ tạo thêm cột mới trương ứng với các categories để biểu diễn dữ liệu. Ví dụ cột A chứa kiểu cate như: A1, A2, A3 thì sau khi encode thì sẽ tạo thêm các cột mới và đánh dẫu xem mẫu nào thì tương ứng với A1, 2, 3...

Mã hóa Labels về dạng số sử dụng Labels Encode

In [19]:
y_encode = label_encoder.fit_transform(y)

In [20]:
y_encode

array([1, 0, 1, ..., 0, 0, 0], shape=(1470,))

Nhận xét: 
Dữ liệu ban đầu chỉ có `Yes` và `No` thì sau khi mã hóa thì đã chuyển về tương ứng với `1` và `0` để dễ dàng trong việc tính toán.

## Chia dữ liệu

In [21]:
X_origin = X.copy()
y_origin = y.copy()

In [22]:
continous_data = [
    'Age',
    'DailyRate',
    'DistanceFromHome',
    'EmployeeCount',
    'HourlyRate',
    'MonthlyIncome',
    'MonthlyRate',
    'NumCompaniesWorked',
    'PercentSalaryHike',
    'StandardHours',
    'TotalWorkingYears',
    'TrainingTimesLastYear',
    'YearsAtCompany',
    'YearsInCurrentRole',
    'YearsSinceLastPromotion',
    'YearsWithCurrManager'
]

classified_data = [
    'BusinessTravel',
    'Department',
    'Education',
    'EducationField',
    'EnvironmentSatisfaction',
    'Gender',
    'JobInvolvement',
    'JobLevel',
    'JobRole',
    'JobSatisfaction',
    'MaritalStatus',
    'Over18',
    'OverTime',
    'PerformanceRating',
    'RelationshipSatisfaction',
    'StockOptionLevel',
    'WorkLifeBalance'
]

X_continous = X_origin[continous_data]
X_classifieds = X_origin[classified_data]

### Dữ liệu liên tục

In [23]:
X_continous

,Age,DailyRate,DistanceFromHome,EmployeeCount,HourlyRate,MonthlyIncome,MonthlyRate,NumCompaniesWorked,PercentSalaryHike,StandardHours,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1102,1,1,94,5993,19479,8,11,80,8,0,6,4,0,5
1,49,279,8,1,61,5130,24907,1,23,80,10,3,10,7,1,7
2,37,1373,2,1,92,2090,2396,6,15,80,7,3,0,0,0,0
3,33,1392,3,1,56,2909,23159,1,11,80,8,3,8,7,3,0
4,27,591,2,1,40,3468,16632,9,12,80,6,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,884,23,1,41,2571,12290,4,17,80,17,3,5,2,0,3
1466,39,613,6,1,42,9991,21457,4,15,80,9,5,7,7,1,7
1467,27,155,4,1,87,6142,5174,1,20,80,6,0,6,2,0,3
1468,49,1023,2,1,63,5390,13243,2,14,80,17,3,9,6,0,8
1469,34,628,8,1,82,4404,10228,2,12,80,6,3,4,3,1,2

### Dữ liệu rời rạc

In [24]:
X_classifieds

,BusinessTravel,Department,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,Over18,OverTime,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,WorkLifeBalance
0,Travel_Rarely,Sales,2,Life Sciences,2,Female,3,2,Sales Executive,4,Single,Y,Yes,3,1,0,1
1,Travel_Frequently,Research & Development,1,Life Sciences,3,Male,2,2,Research Scientist,2,Married,Y,No,4,4,1,3
2,Travel_Rarely,Research & Development,2,Other,4,Male,2,1,Laboratory Technician,3,Single,Y,Yes,3,2,0,3
3,Travel_Frequently,Research & Development,4,Life Sciences,4,Female,3,1,Research Scientist,3,Married,Y,Yes,3,3,0,3
4,Travel_Rarely,Research & Development,1,Medical,1,Male,3,1,Laboratory Technician,2,Married,Y,No,3,4,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,Travel_Frequently,Research & Development,2,Medical,3,Male,4,2,Laboratory Technician,4,Married,Y,No,3,3,1,3
1466,Travel_Rarely,Research & Development,1,Medical,4,Male,2,3,Healthcare Representative,1,Married,Y,No,3,1,1,3
1467,Travel_Rarely,Research & Development,3,Life Sciences,2,Male,4,2,Manufacturing Director,2,Married,Y,Yes,4,2,1,3
1468,Travel_Frequently,Sales,3,Medical,4,Male,2,2,Sales Executive,2,Married,Y,No,3,4,0,2
1469,Travel_Rarely,Research & Development,3,Medical,2,Male,4,2,Laboratory Technician,3,Married,Y,No,3,1,0,4

### Chuẩn hóa dữ liệu liên tục

In [25]:
X_continous_std = X_continous.copy()

In [26]:
X_continous_std

,Age,DailyRate,DistanceFromHome,EmployeeCount,HourlyRate,MonthlyIncome,MonthlyRate,NumCompaniesWorked,PercentSalaryHike,StandardHours,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1102,1,1,94,5993,19479,8,11,80,8,0,6,4,0,5
1,49,279,8,1,61,5130,24907,1,23,80,10,3,10,7,1,7
2,37,1373,2,1,92,2090,2396,6,15,80,7,3,0,0,0,0
3,33,1392,3,1,56,2909,23159,1,11,80,8,3,8,7,3,0
4,27,591,2,1,40,3468,16632,9,12,80,6,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,884,23,1,41,2571,12290,4,17,80,17,3,5,2,0,3
1466,39,613,6,1,42,9991,21457,4,15,80,9,5,7,7,1,7
1467,27,155,4,1,87,6142,5174,1,20,80,6,0,6,2,0,3
1468,49,1023,2,1,63,5390,13243,2,14,80,17,3,9,6,0,8
1469,34,628,8,1,82,4404,10228,2,12,80,6,3,4,3,1,2

Để chuẩn hóa dữ liệu, ở đây chúng tôi sử dụng gói `sklearn.preprocessing.StandardScaler` trong thư viện sklearn.

Về  `StandardScaler` là một kỹ thuật chia tỷ lệ đặc trưng tuân theo phân phối chuẩn và được sử dụng để chuẩn hóa giá trị của các đặc trưng số. Nó biến đổi dữ liệu sao cho giá trị trung bình bằng 0 và độ lệch chuẩn bằng 1. Kỹ thuật này lý tưởng cho các thuật toán như SVM, hồi quy logistic hoặc mạng nơ-ron nhân tạo giả định dữ liệu phân phối chuẩn.

Phương pháp này trừ đi giá trị trung bình của dữ liệu và chia cho độ lệch chuẩn. Phương pháp này tập trung dữ liệu quanh giá trị 0 và chuẩn hóa độ biến thiên:

$$
X_{\text{scaled}} = \frac{X - \mu}{\sigma}
$$

Trong đó:
- `X` là giá trị ban đầu,
- `μ` là giá trị trung bình của tính năng,
- `σ` là độ lệch chuẩn.

Về ưu điểm:
- Nó xử lý các tính năng với các đơn vị khác nhau một cách hiệu quả.
- Nó làm giảm tác động của các giá trị ngoại lai mà không loại bỏ chúng hoàn toàn.

Về nhược điểm:
- Nó nhạy cảm với các giá trị ngoại lệ và các giá trị cực đoan có thể làm lệch giá trị trung bình và độ lệch chuẩn, dẫn đến khả năng mở rộng kém.
- Nó không lý tưởng cho các phân phối không chuẩn.

Thực hiện chuẩn hóa.

In [27]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_continous_std = scaler.fit_transform(X_continous_std)

In [28]:
X_continous_std

array([[ 0.4463504 ,  0.74252653, -1.01090934, ..., -0.0632959 ,
        -0.67914568,  0.24583399],
       [ 1.32236521, -1.2977746 , -0.14714972, ...,  0.76499762,
        -0.36871529,  0.80654148],
       [ 0.008343  ,  1.41436324, -0.88751511, ..., -1.16768726,
        -0.67914568, -1.15593471],
       ...,
       [-1.08667552, -1.60518328, -0.64072665, ..., -0.61549158,
        -0.67914568, -0.31487349],
       [ 1.32236521,  0.54667746, -0.88751511, ...,  0.48889978,
        -0.67914568,  1.08689522],
       [-0.32016256, -0.43256792, -0.14714972, ..., -0.33939374,
        -0.36871529, -0.59522723]], shape=(1470, 16))

In [29]:
# đưa về dạng df cho dễ nhìn
X_continous_std_df = pd.DataFrame(X_continous_std)

In [30]:
X_continous_std_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,0.446350,0.742527,-1.010909,0.0,1.383138,-0.108350,0.726020,2.125136,-1.150554,0.0,-0.421642,-2.171982,-0.164613,-0.063296,-0.679146,0.245834
1,1.322365,-1.297775,-0.147150,0.0,-0.240677,-0.291719,1.488876,-0.678049,2.129306,0.0,-0.164511,0.155707,0.488508,0.764998,-0.368715,0.806541
2,0.008343,1.414363,-0.887515,0.0,1.284725,-0.937654,-1.674841,1.324226,-0.057267,0.0,-0.550208,0.155707,-1.144294,-1.167687,-0.679146,-1.155935
3,-0.429664,1.461466,-0.764121,0.0,-0.486709,-0.763634,1.243211,-0.678049,-1.150554,0.0,-0.421642,0.155707,0.161947,0.764998,0.252146,-1.155935
4,-1.086676,-0.524295,-0.887515,0.0,-1.274014,-0.644858,0.325900,2.525591,-0.877232,0.0,-0.678774,0.155707,-0.817734,-0.615492,-0.058285,-0.595227
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,-0.101159,0.202082,1.703764,0.0,-1.224807,-0.835451,-0.284329,0.523316,0.489376,0.0,0.735447,0.155707,-0.327893,-0.615492,-0.679146,-0.314873
1466,0.227347,-0.469754,-0.393938,0.0,-1.175601,0.741140,1.004010,0.523316,-0.057267,0.0,-0.293077,1.707500,-0.001333,0.764998,-0.368715,0.806541
1467,-1.086676,-1.605183,-0.640727,0.0,1.038693,-0.076690,-1.284418,-0.678049,1.309341,0.0,-0.678774,-2.171982,-0.164613,-0.615492,-0.679146,-0.314873
1468,1.322365,0.546677,-0.887515,0.0,-0.142264,-0.236474,-0.150393,-0.277594,-0.330589,0.0,0.735447,0.155707,0.325228,0.488900,-0.679146,1.086895
1469,-0.320163,-0.432568,-0.147150,0.0,0.792660,-0.445978,-0.574124,-0.277594,-0.877232,0.0,-0.678774,0.155707,-0.491174,-0.339394,-0.368715,-0.595227

#### Mô tả dữ liệu sau khi chuẩn hóa

Trước khi chuẩn hóa, dữ liệu của các trường `Age`, `DailyRate`, .. có độ lớn rất khác nhau, điều này gây mất cân bằng thang đo cho các thuộc tính, các biến giá trị lớn như `MonthlyIncome` hay `MonthlyRate` có thể sẽ chi phối mô hình.

Sau khi chuẩn hóa bằng `StandardScaler`, Các giá trị dao động quanh 0, thường nằm trong khoảng từ -3 đến 3, Các cột có trung bình ≈ 0, độ lệch chuẩn ≈ 1

In [31]:
X_continous_std_df.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
count,1.470000e+03,1.470000e+03,1.470000e+03,1470.0,1.470000e+03,1.470000e+03,1.470000e+03,1.470000e+03,1.470000e+03,1470.0,1.470000e+03,1.470000e+03,1.470000e+03,1.470000e+03,1.470000e+03,1.470000e+03
mean,-3.504377e-17,5.075305e-17,4.350262e-17,0.0,1.691768e-16,-4.471102e-17,3.021015e-17,1.450087e-17,2.271803e-16,0.0,-1.208406e-18,8.700523e-17,-3.021015e-17,9.063045e-17,1.208406e-18,-2.779334e-17
std,1.000340e+00,1.000340e+00,1.000340e+00,0.0,1.000340e+00,1.000340e+00,1.000340e+00,1.000340e+00,1.000340e+00,0.0,1.000340e+00,1.000340e+00,1.000340e+00,1.000340e+00,1.000340e+00,1.000340e+00
min,-2.072192e+00,-1.736576e+00,-1.010909e+00,0.0,-1.766079e+00,-1.167343e+00,-1.717284e+00,-1.078504e+00,-1.150554e+00,0.0,-1.450167e+00,-2.171982e+00,-1.144294e+00,-1.167687e+00,-6.791457e-01,-1.155935e+00
25%,-7.581700e-01,-8.366616e-01,-8.875151e-01,0.0,-8.803615e-01,-7.632087e-01,-8.806440e-01,-6.780494e-01,-8.772324e-01,0.0,-6.787735e-01,-6.201892e-01,-6.544537e-01,-6.154916e-01,-6.791457e-01,-5.952272e-01
50%,-1.011589e-01,-1.204135e-03,-2.705440e-01,0.0,5.355811e-03,-3.365516e-01,-1.090645e-02,-2.775943e-01,-3.305891e-01,0.0,-1.645114e-01,1.557071e-01,-3.278933e-01,-3.393937e-01,-3.687153e-01,-3.148735e-01
75%,6.653541e-01,8.788772e-01,5.932157e-01,0.0,8.787715e-01,3.986245e-01,8.641014e-01,5.233157e-01,7.626976e-01,0.0,4.783162e-01,1.557071e-01,3.252275e-01,7.649976e-01,2.521455e-01,8.065415e-01
max,2.526886e+00,1.726730e+00,2.444129e+00,0.0,1.678377e+00,2.867626e+00,1.782888e+00,2.525591e+00,2.675949e+00,0.0,3.692454e+00,2.483396e+00,5.386914e+00,3.802074e+00,3.977310e+00,3.610079e+00

Trên đây là file thống kê chi tiết.