**CELL dưới đây được sử dụng để cung cấp dữ liệu chuẩn khi chạy model**

Cách dùng: 

Chỉ cần copy nội dung cell dưới đây và để lên đầu mỗi file khi cần xử lý để chạy model.

Dữ liệu ở đây đã được làm:
- One Hot những cột category không thứ tự, các trường dữ liệu có thứ tự được giữ nguyên.
- Chuẩn hóa các trường dữ liệu liên tục, với các trường dữ liệu category có thứ tự thì tùy thuộc vào mô hình mà có những quyết định chuẩn hóa hay không sao cho phù hợp với dữ liệu.
- Ép kiểu về các dạng float32 và int16 để tối ưu hiệu suất và bộ nhớ.

In [1]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, StandardScaler
import pandas as pd
import numpy as np

df = pd.read_csv('../Dataset/archive/WA_Fn-UseC_-HR-Employee-Attrition.csv')

X = df.drop(['Attrition', 'EmployeeNumber', 'Over18', 'EmployeeCount', 'StandardHours'], axis=1)
y = df['Attrition']

col_int32 = ['DailyRate', 'MonthlyIncome', 'MonthlyRate']
col_int16 = ['Age', 'DistanceFromHome', 'Education', 'EnvironmentSatisfaction', 'HourlyRate', 
             'JobInvolvement', 'JobLevel', 'JobSatisfaction', 'NumCompaniesWorked', 
             'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction', 
             'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear', 
             'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole', 
             'YearsSinceLastPromotion', 'YearsWithCurrManager']

# ép kiểu
X[col_int32] = X[col_int32].astype('int32')
X[col_int16] = X[col_int16].astype('int16')

X_origin = X.copy()
y_origin = y.copy()

# One-hot cho các cột nominal
one_hot_encoder = OneHotEncoder(
    sparse_output=False,
    handle_unknown='ignore',
    drop='first'
)

encode_cols = [
    'BusinessTravel', 'Department', 'EducationField',
    'Gender', 'JobRole', 'MaritalStatus', 'OverTime'
]

X_encoded_array = one_hot_encoder.fit_transform(X_origin[encode_cols])
encoded_columns = one_hot_encoder.get_feature_names_out(encode_cols)

X_encoded_df = pd.DataFrame(
    X_encoded_array, 
    columns=encoded_columns,
    index=X_origin.index
)

# Gộp data sau one-hot
X_encode = pd.concat([X_origin.drop(columns=encode_cols), X_encoded_df], axis=1)

# Encode y
label_encoder = LabelEncoder()
y = label_encoder.fit_transform(y_origin)

# Continuous columns cần scale
continuous_data = [
    'Age', 'DailyRate', 'DistanceFromHome', 'HourlyRate', 'MonthlyIncome',
    'MonthlyRate', 'NumCompaniesWorked', 'PercentSalaryHike',
    'TotalWorkingYears', 'TrainingTimesLastYear', 'YearsAtCompany',
    'YearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsWithCurrManager'
]

# Standard Scaler
scaler = StandardScaler()
X_scaled_df = pd.DataFrame(
    scaler.fit_transform(X_encode[continuous_data]),
    columns=continuous_data,
    index=X_encode.index
).astype('float32')

# Gộp cùng dữ liệu còn lại
X_final = pd.concat(
    [
        X_encode.drop(columns=continuous_data), 
        X_scaled_df                       
    ],
    axis=1
)

# One-hot columns cũng ép về float32
one_hot_cols = X_encoded_df.columns
X_final[one_hot_cols] = X_final[one_hot_cols].astype('float32')

# Có 2 loại dữ liệu là X_origin là X ban đầu đã được One Hot và X đã được làm sạch, chuẩn hóa.
X = X_final
X_origin = X_encode

**Kiểm thử nội dung**

In [2]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 44 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Education                          1470 non-null   int16
 1   EnvironmentSatisfaction            1470 non-null   int16
 2   JobInvolvement                     1470 non-null   int16
 3   JobLevel                           1470 non-null   int16
 4   JobSatisfaction                    1470 non-null   int16
 5   PerformanceRating                  1470 non-null   int16
 6   RelationshipSatisfaction           1470 non-null   int16
 7   StockOptionLevel                   1470 non-null   int16
 8   WorkLifeBalance                    1470 non-null   int16
 9   BusinessTravel_Travel_Frequently   1470 non-null   float32
 10  BusinessTravel_Travel_Rarely       1470 non-null   float32
 11  Department_Research & Development  1470 non-null   float32
 12  Department_Sales                   1470 non-null   float32
 13  EducationField_Life Sciences       1470 non-null   float32
 14  EducationField_Marketing           1470 non-null   float32
 15  EducationField_Medical             1470 non-null   float32
 16  EducationField_Other               1470 non-null   float32
 17  EducationField_Technical Degree    1470 non-null   float32
 18  Gender_Male                        1470 non-null   float32
 19  JobRole_Human Resources            1470 non-null   float32
 20  JobRole_Laboratory Technician      1470 non-null   float32
 21  JobRole_Manager                    1470 non-null   float32
 22  JobRole_Manufacturing Director     1470 non-null   float32
 23  JobRole_Research Director          1470 non-null   float32
 24  JobRole_Research Scientist         1470 non-null   float32
 25  JobRole_Sales Executive            1470 non-null   float32
 26  JobRole_Sales Representative       1470 non-null   float32
 27  MaritalStatus_Married              1470 non-null   float32
 28  MaritalStatus_Single               1470 non-null   float32
 29  OverTime_Yes                       1470 non-null   float32
 30  Age                                1470 non-null   float32
 31  DailyRate                          1470 non-null   float32
 32  DistanceFromHome                   1470 non-null   float32
 33  HourlyRate                         1470 non-null   float32
 34  MonthlyIncome                      1470 non-null   float32
 35  MonthlyRate                        1470 non-null   float32
 36  NumCompaniesWorked                 1470 non-null   float32
 37  PercentSalaryHike                  1470 non-null   float32
 38  TotalWorkingYears                  1470 non-null   float32
 39  TrainingTimesLastYear              1470 non-null   float32
 40  YearsAtCompany                     1470 non-null   float32
 41  YearsInCurrentRole                 1470 non-null   float32
 42  YearsSinceLastPromotion            1470 non-null   float32
 43  YearsWithCurrManager               1470 non-null   float32
dtypes: float32(35), int16(9)
memory usage: 226.9 KB

In [3]:
X

,Education,EnvironmentSatisfaction,JobInvolvement,JobLevel,JobSatisfaction,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,WorkLifeBalance,BusinessTravel_Travel_Frequently,...,MonthlyIncome,MonthlyRate,NumCompaniesWorked,PercentSalaryHike,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,2,2,3,2,4,3,1,0,1,0.0,...,-0.108350,0.726020,2.125136,-1.150554,-0.421642,-2.171982,-0.164613,-0.063296,-0.679146,0.245834
1,1,3,2,2,2,4,4,1,3,1.0,...,-0.291719,1.488876,-0.678049,2.129306,-0.164511,0.155707,0.488508,0.764998,-0.368715,0.806542
2,2,4,2,1,3,3,2,0,3,0.0,...,-0.937654,-1.674841,1.324226,-0.057267,-0.550208,0.155707,-1.144294,-1.167687,-0.679146,-1.155935
3,4,4,3,1,3,3,3,0,3,1.0,...,-0.763634,1.243211,-0.678049,-1.150554,-0.421642,0.155707,0.161947,0.764998,0.252145,-1.155935
4,1,1,3,1,2,3,4,1,3,0.0,...,-0.644858,0.325900,2.525591,-0.877232,-0.678774,0.155707,-0.817734,-0.615492,-0.058285,-0.595227
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,2,3,4,2,4,3,3,1,3,1.0,...,-0.835451,-0.284329,0.523316,0.489376,0.735447,0.155707,-0.327893,-0.615492,-0.679146,-0.314873
1466,1,4,2,3,1,3,1,1,3,0.0,...,0.741140,1.004010,0.523316,-0.057267,-0.293077,1.707500,-0.001333,0.764998,-0.368715,0.806542
1467,3,2,4,2,2,4,2,1,3,0.0,...,-0.076690,-1.284418,-0.678049,1.309341,-0.678774,-2.171982,-0.164613,-0.615492,-0.679146,-0.314873
1468,3,4,2,2,2,3,4,0,2,1.0,...,-0.236474,-0.150393,-0.277594,-0.330589,0.735447,0.155707,0.325228,0.488900,-0.679146,1.086895
1469,3,2,4,2,3,3,1,0,4,0.0,...,-0.445978,-0.574124,-0.277594,-0.877232,-0.678774,0.155707,-0.491174,-0.339394,-0.368715,-0.595227

In [4]:
y

array([1, 0, 1, ..., 0, 0, 0], shape=(1470,))

In [5]:
X_origin

,Age,DailyRate,DistanceFromHome,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,...,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Married,MaritalStatus_Single,OverTime_Yes
0,41,1102,1,2,2,94,3,2,4,5993,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0
1,49,279,8,1,3,61,2,2,2,5130,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,37,1373,2,2,4,92,2,1,3,2090,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
3,33,1392,3,4,4,56,3,1,3,2909,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
4,27,591,2,1,1,40,3,1,2,3468,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,884,23,2,3,41,4,2,4,2571,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1466,39,613,6,1,4,42,2,3,1,9991,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1467,27,155,4,3,2,87,4,2,2,6142,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
1468,49,1023,2,3,4,63,2,2,2,5390,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
1469,34,628,8,3,2,82,4,2,3,4404,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

**Note**

Tùy từng model thì nên chuẩn hóa dữ liệu phân loại dạng có thứ tự cho phù hợp